<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/New_configuration"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#13;&#10;-Dgroup=BW -Dmode=DEV&#13;&#10;-Dsvr=MESsvr -Dseq=1 -DLogDir=C:\Log&#13;&#10;-Dlog4j.configuratorClass=kr.co.mesframe.log.config.Configurator&#13;&#10;-Dlog4j.configuration=file://C:\log4j.xml&#13;&#10;-Dlog4j.watchDelay=10000"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.springsource.javax.jms@default:default"/>
        <setEntry value="com.springsource.org.aopalliance@default:default"/>
        <setEntry value="com.springsource.org.apache.commons.collections@default:default"/>
        <setEntry value="com.springsource.org.apache.log4j@default:default"/>
        <setEntry value="com.springsource.org.quartz@default:default"/>
        <setEntry value="jcl.over.slf4j@default:default"/>
        <setEntry value="kr.co.mesfactory@default:default"/>
        <setEntry value="kr.co.mesframe.lib@default:default"/>
        <setEntry value="kr.co.mesframe.log@default:false"/>
        <setEntry value="kr.co.mesframe@default:default"/>
        <setEntry value="org.apache.activemq.activemq-client@default:default"/>
        <setEntry value="org.apache.commons.dbcp@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.pool@default:default"/>
        <setEntry value="org.apache.geronimo.specs.geronimo-j2ee-management_1.1_spec@default:default"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.fusesource.hawtbuf.hawtbuf@default:default"/>
        <setEntry value="org.glassfish.javax.annotation@default:default"/>
        <setEntry value="org.mongodb.mongo-java-driver@default:default"/>
        <setEntry value="org.springframework.aop@default:default"/>
        <setEntry value="org.springframework.asm@default:default"/>
        <setEntry value="org.springframework.beans@default:default"/>
        <setEntry value="org.springframework.context@default:default"/>
        <setEntry value="org.springframework.core@default:default"/>
        <setEntry value="org.springframework.expression@default:default"/>
        <setEntry value="org.springframework.jdbc@default:default"/>
        <setEntry value="org.springframework.jms@default:default"/>
        <setEntry value="org.springframework.osgi.core@default:default"/>
        <setEntry value="org.springframework.osgi.extender@default:default"/>
        <setEntry value="org.springframework.osgi.extensions.annotations@default:default"/>
        <setEntry value="org.springframework.osgi.io@default:default"/>
        <setEntry value="org.springframework.security.core@default:default"/>
        <setEntry value="org.springframework.transaction@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
        <setEntry value="slf4j.reload4k@default:false"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="MES.Config.Service@default:default"/>
        <setEntry value="MES.Durable.Service@default:default"/>
        <setEntry value="MES.EIS.Service@default:default"/>
        <setEntry value="MES.Equipment.Service@default:default"/>
        <setEntry value="MES.Generic.Service@default:default"/>
        <setEntry value="MES.Legacy.Service@default:default"/>
        <setEntry value="MES.Lot.Custom@default:default"/>
        <setEntry value="MES.Lot.Service@default:default"/>
        <setEntry value="MES.Master.Custom@default:default"/>
        <setEntry value="MES.Master.Service@default:default"/>
        <setEntry value="MES.Material.Service@default:default"/>
        <setEntry value="MES.Query.Service@default:default"/>
        <setEntry value="MES.UDF.Service@default:default"/>
        <setEntry value="MES.UIF.Service@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
